<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Things i need to do</h1>
  <table>
    {% for item in items %}
      <tr>
        {% if item.done%}
          <td><strike>{{ item.name }}</strike></td>
        {% else %}
          <td>{{ item.name }}</td>
        {% endif%}
        <!-- Toggle button -->
        <td>
          <a href="/toggle/{{ item.id }}">
            <button>Toggle</button>
          </a>
        </td>
        <!-- Edit button -->
        <td>
          <a href="/edit/{{ item.id }}">
            <button>Edit</button>
          </a>
        </td>
        <!-- Delete button -->
        <td>
          <a href="/delete/{{ item.id }}">
            <button>Delete</button>
          </a>
        </td>
      </tr>
      <!-- If no items in todo list -->
      {% empty %}
      <tr><td>You have no items to do</td></tr>
    {% endfor %}
  </table>
  <!-- Add item button -->
  <button>
    <a href="/add" style="text-decoration: none;">Add an item</a>
  </button>
  <!-- <a href="/add">Add an item</a> -->
</body>

</html>